<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!-- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Menu Izquierda -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>
        <!-- Generar -->
        <li>
          <a routerLink="results">
            <i class="mdi mdi-star-shooting-outline"></i>
            <span>Generar</span>
          </a>
        </li>
        <!-- Historial -->
        <li>
          <a routerLink="history">
            <i class="mdi mdi-history"></i>
            <span>Historial</span>
          </a>
        </li>
        
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>